<html>

<head>
<title>DomainHunter : Domain name check</title>

<link href="main.css" rel="stylesheet" />
<script type="text/javascript" src="jquery-1.2.6.min.js"></script>

<script language="javascript">
$(document).ready(function() {
  
	var loading;
	var results;
	
	form = document.getElementById('form');
	loading = document.getElementById('loading');
	results = document.getElementById('results');
	
	$('#Submit').click( function() {
		
		if($('#Search').val() == "")
		{alert('please enter your domain');return false;}
		
		results.style.display = 'none';
		$('#results').html('');
		loading.style.display = 'inline';
		
		$.post('process.php?domain=' + escape($('#Search').val()),{
		}, function(response){
			
			results.style.display = 'block';
			$('#results').html(unescape(response));	
			loading.style.display = 'none';
		});
		
		return false;
	});
	
});
</script>
</head>
<body>

<center>

	<div id="Heading">Domain Checker</div>
	
	<form method="post" action="./" id="form"> 
	
		<input type="text" autocomplete="off" id="Search" name="domain"> 
		<input type="submit" id="Submit" value="Submit">
	
	</form>


	<div id="loading"><img src="load.gif"></img></div>
		
	 <div id="results" style="width:420px; height:600px;" align="left">
		
	 </div>	
 
 
 </center>
 </body>
 </html>
 
